<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Demo", suffix: " · Phoenix Framework" %>
    <%= Vite.inlined_phx_manifest() %>
    <%= Vite.vite_client() %>
    <%= Vite.vite_snippet("src/main.tsx") %>
  </head>
  <body>
    <div id="app"></div>
    <div class="container phx-hero">
      <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo" height="50" />
    </div>
    <%= @inner_content %>
  </body>
</html>
